input[type=text] {
  width: 650px;
  box-sizing: border-box;
  border: 1px solid #2b32ac;
  border-radius: 0px;
  font-size: 20px;
  background-color: white;

  padding: 7px 20px 7px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}
.another{
  width:570px;
}
.bs-example{
    font-family: sans-serif;
    position: relative;
    margin: 50px;
}
.typeahead:focus {
    border: 2px solid #08D671;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #FFFFFF;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    width: 500px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 18px;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #08D671;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
rmenu{
  float: right;
  padding-right: 13px;
  padding-top: 10px;

}
